<div class="job" id="<%= dom_id job %>">
  <table>
    <tr>
      <td><strong>ID:</strong></td>
      <td><%= job.id %></td>
    </tr>
    <tr>
      <td><strong>Title:</strong></td>
      <td><%= job.title %></td>
    </tr>
    <tr>
      <td><strong>Context:</strong></td>
      <td><%= job.context %></td>
    </tr>
    <tr>
      <td><strong>Frontend:</strong></td>
      <td><%= job.skill_frontend %></td>
    </tr>
    <tr>
      <td><strong>Backend:</strong></td>
      <td><%= job.skill_backend %></td>
    </tr>
    <tr>
      <td><strong>Infra:</strong></td>
      <td><%= job.skill_infra %></td>
    </tr>
    <tr>
      <td><strong>From:</strong></td>
      <td><%= job.from %></td>
    </tr>
    <tr>
      <td><strong>To:</strong></td>
      <td><%= job.to %></td>
    </tr>
    <tr>
      <td><strong>Place:</strong></td>
      <td><%= job.place %></td>
    </tr>
    <tr>
      <td><strong>Telework:</strong></td>
      <td><%= job.telework %></td>
    </tr>
    <tr>
      <td><strong>Physical:</strong></td>
      <td><%= job.physical %></td>
    </tr>
    <tr>
      <td><strong>Intellectual:</strong></td>
      <td><%= job.intellectual %></td>
    </tr>
    <tr>
      <td><strong>Psychological:</strong></td>
      <td><%= job.psychological %></td>
    </tr>
    <tr>
      <td><strong>Developmental:</strong></td>
      <td><%= job.developmental %></td>
    </tr>
  </table>
</div>