<div class="job" id="<%= dom_id job %>">
  <p>
    <strong>ID:</strong>
    <%= job.id %>
  </p>
  
  <p>
    <strong>Title:</strong>
    <%= job.title %>
  </p>

  <p>
    <strong>Context:</strong>
    <%= job.context %>
  </p>

  <p>
    <strong>Frontend:</strong>
    <%= job.skill_frontend %>
  </p>

  <p>
    <strong>Backend:</strong>
    <%= job.skill_backend %>
  </p>

  <p>
    <strong>Infra:</strong>
    <%= job.skill_infra %>
  </p>
  <p>
    <strong>From:</strong>
    <%= job.from %>
  </p>

  <p>
    <strong>To:</strong>
    <%= job.to %>
  </p>

  <p>
    <strong>Place:</strong>
    <%= job.place %>
  </p>

  <p>
    <strong>Telework:</strong>
    <%= job.telework %>
  </p>

  <p>
    <strong>Physical:</strong>
    <%= job.physical %>
  </p>
  <p>
    <strong>Intellectual:</strong>
    <%= job.intellectual %>
  </p>
  <p>
    <strong>Psychological:</strong>
    <%= job.psychological %>
  </p>
  <p>
    <strong>Developmental:</strong>
    <%= job.developmental %>
  </p>

</div>
