<p style="color: green"><%= notice %></p>

<%= render @job %>

<div>
  <% if logged_in? %>
    <%= link_to "Edit this job", edit_job_path(@job) %>
     |
  <% end %>
  <%= link_to "Back to jobs", jobs_path %>
  <% if logged_in? %>
    <%= button_to "Destroy this job", @job, { method: :delete, data: { turbo_confirm: "Are you sure?" } } %>
  <% end %>
</div>